<h1>Custom Card</h1>

<app-card>
  <app-card-image></app-card-image>
  <app-card-content>
    <app-card-date>On 14th Nov 2022</app-card-date>
    <app-card-title>Space Art</app-card-title>
    <app-card-description>
      {{ myDescription }}
    </app-card-description>
  </app-card-content>
  <app-card-stats>
    <app-card-stat-segment>
      <div class="number">15</div>
      <div class="text">READ</div>
    </app-card-stat-segment>
    <app-card-stat-segment>
      <div class="number">211</div>
      <div class="text">VIEWS</div>
    </app-card-stat-segment>
    <app-card-stat-segment>
      <div class="number">32</div>
      <div class="text">COMMENTS</div>
    </app-card-stat-segment>
  </app-card-stats>
</app-card>
